$blue: blue;
$indigo: indigo;
$purple: #605ca8;
$pink: #B00B69;
$red:   #c22626;
$orange: orange;
$yellow: #ffbb00;
$green: rgb(0, 190, 32);
$teal: teal;
$cyan: rgb(37, 143, 192);

$black: #1d1b1b;
$white: #eaeaea;

$colors: (
    "primary":    $pink,
    "secondary":  $yellow,
    "black":      $black,
    "white":      $white,
    "success":    $green,
    "info":       $cyan,
    "warning":    $yellow,
    "danger":     $red
);

$padding: 1rem;

:root {
    --padding: #{$padding};

    @each $color, $value in $colors {
        --#{$color}: #{$value};
    }
}

.background {
    background: var(--white);
    color: var(--black);

    @media (prefers-color-scheme: dark) {
		background: var(--black);
        color: var(--white);
    }
}
