// Copyright (C) 2021 Bailey Schepke
// Licensed under AGPLv3+

input {
    margin: 0;
}

.input {
    width: 100%;
	padding: 0.4rem 0.5rem;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 10pt;

    border: 1px solid rgba(0, 0, 0, 0.1);

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

input[type=text], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=date], select, textarea {
    color: var(--black);
    background: var(--white);

    @media (prefers-color-scheme: dark) {
        color: var(--white);
        background: var(--black);
    }
}

@each $color, $value in $colors {
    .#{$color} {
        box-sizing: border-box;
    
        background: var(--#{$color});
        background-size: cover;
        background-repeat: no-repeat;

        @if (lightness($value) > 60) {
            color: var(--black);

            a {
                color: var(--black);
            }
          } @else {
            color: var(--white);

            a {
                color: var(--white);
            }
        }

        .card {
            background: lighten($value, 5%);
            border: 1px solid lighten($value, 6%);
        }
    
        .gradient {
            background: linear-gradient(lighten($value, 5%), $value);
        }

        .footer-text {
            @if (lightness($value) > 60) {
                color: darken($value, 20%);
            } @else {
                color: lighten($value, 20%);
            }
        }
    }
}
