// Copyright (C) 2021 Bailey Schepke
// Licensed under AGPLv3+

@import "variables";
@import "input";

body {
	min-height: 100vh;
	margin: 0;
	text-align: left;
}

main {
	font-size: 12pt;
}

a {
	text-decoration: none;
}

a  {
	color: var(--black);

	@media (prefers-color-scheme: dark) {
		color: var(--white);
	}
}

article {
	width: 100%;
	max-width: 960px;
	margin: auto;
}

aside {
	float: left;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);

	@media (prefers-color-scheme: dark) {
		border-right: 1px solid rgba(255, 255, 255, 0.1);
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			border-radius: 6px;
			padding: 6px;
		}

		li:hover {
			background:rgba(255, 255, 255, 0.1);
		}
	}
}

h1 {
	font-size: 24pt;
	font-weight: bold;
	text-align: left;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 20pt;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

h3 {
	font-weight: normal;
	font-size: 18pt;
	margin: 0;
}

h4 {
	font-weight: normal;
	font-size: 14pt;
}

h5 {
	color: grey;
	font-style: italic;
}

hr {
	margin: 0;
	margin-top: var(--padding);
	border: none;

	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	@media (prefers-color-scheme: dark) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
}

p {
	text-align: justify;
	margin: 0;
}

li {
	padding: .2rem 0;
}

footer {
	width: 100%;
	flex-shrink: 0;
}

img {
	float: left;
	object-fit: contain;
}

table {
	font-size: 11pt;
	width: 100%;
	border-collapse: collapse;

	th {
		padding: 0.5rem var(--padding);
		white-space: nowrap;
	}

	td {
		padding: 0.5rem var(--padding);
		white-space: nowrap;
	}

	tbody {
		tr:nth-child(2n + 1) {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.hover tbody tr:hover {
	background: rgba(0, 0, 0, 0.1);
}

.active {
    font-weight: 600;
}

.btn {
	display: inline-block;
	border: none;
       	padding: 0.4rem 0.5rem;
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 0 3px black;
}

.btn:hover:not(.disabled) {
	filter: brightness(80%);
}

.btn:active:not(.disabled) {
	box-shadow: none;
	filter: brightness(50%);
}

.card {
	overflow: auto;
	border: 1px solid rgba(0, 0, 0, 0.1);

	@media (prefers-color-scheme: dark) {
		border: 1px solid rgba(255, 255, 255, 0.1);
	}
}

.card-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	@media (prefers-color-scheme: dark) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
}

.card-body {
	overflow: auto;
}

.card-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.03);

	@media (prefers-color-scheme: dark) {
		border-top: 1px solid rgba(255, 255, 255, 0.03);
	}
}

.center {
	margin: auto;
}

.content {
	max-width: 800px;
}

.grid {
	display: grid;
	gap: var(--padding);
}

.link {
	color: var(--secondary);
}

.pad {
	padding: var(--padding);
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-gap {
	gap: var(--padding);
}

.column {
	flex-direction: column;
}

.row {
    flex-direction: row;
}

.nav {
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	color: var(--black);

	@media (prefers-color-scheme: dark) {
		color: var(--white);
	}

	.nav-item {
		margin-left: var(--padding);
		margin-right: var(--padding);
	}
}

.footer-text {
	font-size: 11pt;
	padding: 30px;
}

.lighten {
	color: inherit;
	background: rgba(255, 255, 255, 0.5);

	@media (prefers-color-scheme: dark) {
		background: rgba(255, 255, 255, 0.1);
	}
}

.darken {
	color: inherit;
	background: rgba(0, 0, 0, 0.1);
}

.left {
	float: left;
}

.right {
	float: right;
}

.disabled {
	filter: saturate(0%);
}

.fade {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
		opacity: 0;
		transform: translate(0, 5px);
	}
}

@media screen and (min-width: 600px) {
	.mobile {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.desktop {
		display: none;
	}
}
